[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"

[packages]
mitmproxy = "*"
doo = "*"
httprunner = "==2.4.0"
pystache = "*"
locustio = "*"
pyyaml = "*"
pymysql = "*"
redis = "*"
fake-factory = "*"
pymongo = "*"
schedule = "*"
dotenv = "*"

[requires]
python_version = "3.7"
