name: {{name}}
variables:
    {{variables}}
request:
    url: {{url}}
    method: {{method}}
    headers:
        {{#headers}}
        {{key}}: "{{value}}"
        {{/headers}}
    params:
        {{{request}}}
validate:
    - eq: ["status_code", 200]
