config:
    name: "testsuite"
    variables:
        info: ""
    base_url: ${ENV(TEST_HOST)}

testcases:
    {{name}} api testcase:
        testcase: testcases/singleinterface/{{name}}_testcase.yml
        parameters:
            {{parameters}}: ${P(data/{{name}}_api.csv)}

